# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
.DS_Store


# Added by cargo

/target
Cargo.lock
annotations/usda/FSA2001_250321V05LC (14)_ocr_analysis.json
annotations/usda/page_*.png
annotations/usda/annotated/page_*_multi_annotated.png
annotations/usda/overlays/page_*_multi_overlay.png
__pycache__
